POSTGRES_USER=n8n
POSTGRES_PASSWORD=replace_with_local_password
POSTGRES_DB=n8n
POSTGRES_PORT=5432
N8N_PORT=5678
N8N_ENCRYPTION_KEY=replace_with_32_character_key
AUTH_JWT_SECRET=replace_with_long_random_secret
