project_name      = "n8n-project"
location          = "East US"
postgres_location = "Canada Central"
environment       = "dev"
vm_size           = "Standard_D2as_v7"
admin_username    = "n8nadmin"
ssh_public_key    = "ssh-ed25519 REPLACE_WITH_YOUR_PUBLIC_KEY"
allowed_ssh_cidr  = "REPLACE_WITH_YOUR_PUBLIC_IP/32"
allowed_web_cidr  = "0.0.0.0/0"
postgres_admin_login    = "n8nadmin"
postgres_admin_password = "REPLACE_WITH_A_SECURE_PASSWORD"
